@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Staatliches');
@import url('https://fonts.googleapis.com/css?family=VT323');
body {
    background: #323232;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-size: 45px;
    margin: 0px;
    color: white;
}

h2 {
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    font-size: 35px;
    margin: 0px;
    color: white;
}

#gameWrapper {
    width: 450px;
    height: 455px;
    background: gray;
    margin-top: 10px;
    border-left: 0px solid gray;
}

.row {
    width: 100%;
    height: 150px;
}

.square {
    width: 32%;
    height: 145.5px;
    border: 3px solid white;
    float: left;
    text-align: center;
    font-size: 150px;
    font-family: helvetica;
    color: white;
    cursor: pointer;
}

#panel {
    font-family: 'VT323', monospace;
    width: 430px;
    padding: 10px;
    margin: 0 auto;
    height: 70px;
}

#board {
    font-size: 40px;
    font-family: 'VT323', monospace;
    color: whitesmoke;
    margin-top: 15px;
    height: 70px;
}

#player-2 {
    float: right
}

#playButton {
    margin-left: 65px;
}

#btn {
    margin-left: 210px;
    margin-top: 10px;
}